body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 197, 197);
    margin: 2em auto;
    width:670px;
    border-radius: 20px;
    border: 5px groove blue;
    padding: .5em;
}
main{
    background-image: linear-gradient(to bottom right,rgb(134, 134, 134),white);
    padding: .25em;
    margin: .25em;
    border: 1px groove blue;
    border-radius: 20px;
}
h1{
    color: rgba(0, 110, 255, 0.884);
    margin: 1em;
    padding: .5em;
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
    margin: 1em;
    padding: .5em;
    text-align: center;
}
label{
    color: rgba(0, 110, 255, 0.884);
    margin-left: .5em;
    text-align: right;
    display: inline-block;
    width: 200px;
}
input{
    border-radius: 10px;
    color:rgba(0, 110, 255, 0.884);
    background-color:rgb(255, 255, 255);
    margin-left: .5em;
    margin-top: 1em;
    text-align: center;
    font-size: small;
}
footer{
    text-align: center;
    color: blue;
}
.bottom_of_group{
    margin-bottom: 1em;
}
.input_button:hover{
    background-color: rgba(0, 81, 255, 0.63);
    color: black;
}
.form-center{
    display: flex;
    justify-content: center;
}
.required{
    color: red;
}
.input_button {
    margin-top: 1em;
    margin-left: 268px;
    background-image: linear-gradient(to top,white,rgba(75, 75, 243, 0.479) );
    margin-bottom: 1em;
}
#reset_form{
    margin-left: 1px;
}